.container
  .jumbotron.text-center
    .row
      %h2
        G5 ProServices Hub
    .row
      %p
        A hub to manage and review internal, G5 specific processes
.container.text-center
  .col-md-4
    %h3
      Peer Review

  .col-md-4
    %h3
      GatherContent

  .col-md-4 
    %h3
      = link_to "Ninja", "http://192.168.2.44/"
